.championChart{
    width: 25%;
    margin: auto;
}

.championLegend{
    display: flex;
    margin: auto;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.championIcon{
    border-radius: 50%;
    width: 20%;
}