.flexbox-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexbox-item{
    width: 15%;
    border: 3px solid #bf8600;
    border-radius: 5%;
    height: 400px;
    background-color: #1a1a197c;
}

.loading-gif{
    margin-top: 20%;
    width: 10%;
    height: 10%;
}

.team{
    margin-top: 0.5%;
}

.team-title{
    margin-bottom: .5%;
    font-weight: bold;
    padding: 5px;
    border-radius: 15px;
    display: inline-block;
}

.blue-team{
    color: rgb(0, 160, 160);
}

.red-team{
    color: rgb(157, 0, 0);
}