.card {
    height: 100%;
}

.selectedName {
    font-size: 70%;
    font-weight: bold;
    transition-duration: 0.25s;
}

.lobbyName{
    font-size: 70%;
    font-weight: bold;
    transition-duration: 0.25s; 
}

.lobbyName:hover, .selectedName:hover{
    font-size: 72%;
    color: gold;
}

.namePlate{
    width: 75%;
    height: 10%;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

a:link {
    text-decoration: underline;
    text-decoration-style: solid;
}

.roleIcon{
    width: 15%;
}

.highlightSummoner{
    /* color: #5ced73; */
    color: gold;
}

.lobbyParticipant{
    color: rgb(255, 255, 255);
}

.Good{
    color: yellow;
}

.Great{
    color: rgb(153, 255, 0);
}

.Excellent{
    color: rgb(0, 112, 0);
}