.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectedName {
    font-size: 70%;
    font-weight: bold;
    transition-duration: 0.25s;
}

.name{
    font-size: 60%;
    font-weight: bold;
    transition-duration: 0.25s;  
}

.name:hover{
    font-size: 62%;
    color: #bf8600;
}

.namePlate{
    width: 100%;
    height: 10%;
    margin-top: 5%;
}

a:link {
    text-decoration: underline;
    text-decoration-style: solid;
}

.roleIcon{
    width: 15%;
}

.grid-container{
    margin-top: 10%;
}

.badges{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.highlightSummoner{
    /* color: #5ced73; */
    color: #bf8600;
}

.lobbyParticipant{
    color: rgb(255, 255, 255);
}

.badge{
    margin: 10%;
    width: 65%;
    aspect-ratio: 1 / 1;
    border-radius: 20%;
    border: 2px solid #bf8600;
}

.badge img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
}

.Good{
    background-color: rgb(255, 255, 107);
}

.Great{
    background-color: #8ce900;
}

.Excellent{
    background-color: green;
}