.card {
    height: 100%;
}

.name {
    font-size: 70%;
    font-weight: bold;
}

.name:hover{
    font-size: 72%;
    color: white;
}

.namePlate{
    width: 75%;
    height: 10%;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

a:link {
    text-decoration: underline;
    text-decoration-style: solid;
}

.roleIcon{
    width: 15%;
}

.highlightSummoner{
    color: gold;
}

.lobbyParticipant{
    color: rgb(212, 212, 212);
}

.Good{
    color: yellow;
}

.Great{
    color: rgb(153, 255, 0);
}

.Excellent{
    color: rgb(0, 112, 0);
}